<div layout-padding>
    <h1>{{ 'ACTIONTEST.TITLE' | translate}}</h1>

    <at-action-button button-title="{{ 'ACTIONTEST.BUTTON_TITLE' | translate}}">
        <at-action-item ng-model="vm.testAction1">{{ 'ACTIONTEST.ACTION1_TEXT' | translate}}</at-action-item>
        <at-action-item ng-model="vm.testAction2">{{ 'ACTIONTEST.ACTION2_TEXT' | translate}}</at-action-item>
        <at-action-item ng-model="vm.testAction3">{{ 'ACTIONTEST.ACTION3_TEXT' | translate}}</at-action-item>
        <at-action-item ng-model="vm.testAction4">{{ 'ACTIONTEST.ACTION4_TEXT' | translate}}</at-action-item>
    </at-action-button>

</div>