/* ---  Action Button Styles --- */
/* ------------------------------------------------------------------------------------------------------------------ */
.at-action-button {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  margin: 5px 0;
  padding: 0;
  outline: none;
  width: 300px;
  min-width: 150px;

  /* ---  Button --- */
  /* -------------------------------------------------------------------------------------------------------------- */
  .at-action-title {
    display: block;
    padding: 15px 30px 15px 15px;

    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    background: rgb(96, 125, 139) url('../icons/icon_updown_white.svg') center right no-repeat;
    background-size: 16px 20px;
  }

  /* ---  Dropdown --- */
  /* -------------------------------------------------------------------------------------------------------------- */
  .at-action-dropdown {
    width: 100%;
    position: absolute;
    padding: 10px 0;
    top: 100%;
    background: #fff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 2px 1px -1px rgba(0, 0, 0, .12);
  }

  .at-action-item-text {
    overflow: hidden;
  }

  .at-action-item {
    vertical-align: middle;
    cursor: pointer;
    padding: 20px 15px;
    border-bottom: 2px solid #fff;
    outline: none;

    /* ---  Icons --- */
    /* -------------------------------------------------------------------------------------------------------------- */
    .icon {
      display: inline-block;
      position: relative;
      top: -2px;
      width: 24px;
      height: 24px;
      float: left;
      margin-right: 5px;
    }
    .icon-play {
      background: url('../icons/icon_play.svg') no-repeat;
    }
    .icon-progress {
      background: url('../icons/icon_inprogress.svg') no-repeat;
      animation: spin 1s linear infinite;
    }
    .icon-success {
      background: url('../icons/icon_success.svg') no-repeat;
    }
    .icon-error {
      background: url('../icons/icon_error.svg') no-repeat;
    }

    /* ---  Loader Animation --- */
    /* -------------------------------------------------------------------------------------------------------------- */
    @-moz-keyframes spin {
      100% {
        -moz-transform: rotate(360deg);
      }
    }
    @-webkit-keyframes spin {
      100% {
        -webkit-transform: rotate(360deg);
      }
    }
    @keyframes spin {
      100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
      }
    }
  }

  /* clearfix */
  .at-action-item:after {
    content: '';
    clear: both;
    visibility: hidden;
  }

}

/* ---  Active Loading Animation --- */
/* -------------------------------------------------------------------------------------------------------------- */
.at-action-loading {
  transition: opacity 1s ease;
  background-size: 30px 30px;
  background-image: linear-gradient(
                  45deg,
                  rgba(black, 0.05)  25%,
                  transparent       25%,
                  transparent       50%,
                  rgba(black, 0.05)  50%,
                  rgba(black, 0.05)  75%,
                  transparent       75%,
                  transparent
  );
  animation: stripes 1s linear infinite;
}

@keyframes stripes {
  from { background-position: 0 0; }
  to   { background-position: 60px 30px; }
}