<div class="container">

    <h1 class="pagetitle">Greeting Card Creator</h1>

    <div class="row">
        <div class="col-sm-6">

            <form novalidate name="newcard" autocomplete="off" class="new-card">
                <div class="form-group">
                    <label for="name" class="required">Birthday person name</label>
                    <input type="text" class="form-control" id="name" name="name" ng-model="name" required="required" at-name-validator placeholder="Who's gonna have a Birthday soon?">

                    <div class="new-card__messages" ng-show="newcard.$submitted || newcard.name.$touched">
                        <div class="alert alert-danger" ng-show="newcard.name.$error.required || newcard.name.$error.nameValidator || newcard.name.$error.nameWords || newcard.name.$error.nameLength">
                            <div ng-show="newcard.name.$error.required">Birthday person name is required.</div>
                            <div ng-show="newcard.name.$error.nameValidator">Oh, it's a name.It should start with capital letter.</div>
                            <div ng-show="newcard.name.$error.nameWords">Your name should consists of {{vm.nameMaxWords}} words maximum.</div>
                            <div ng-show="newcard.name.$error.minNameLength">Your name is too short</div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="age" class="required">Birthday person age</label>
                    <input type="text" class="form-control" id="age" name="age" required="required" ng-model="age" at-age-validator placeholder="How old is he (she)?">
                    <div class="new-card__messages" ng-show="newcard.$submitted || newcard.age.$touched">
                        <div class="alert alert-danger" ng-show="newcard.age.$error.ageValidator || newcard.age.$error.ageInteger">
                            <div ng-show="newcard.age.$error.required">The age is required.</div>
                            <div ng-show="newcard.age.$error.ageValidator">Birthday person should be in {{vm.minAge}}...{{vm.maxAge}} age range) </div>
                            <div ng-show="newcard.age.$error.ageInteger">Age should be integer) </div>
                        </div>
                    </div>
                </div>



                <div class="form-group">
                    <label for="greetings" class="required">Greetings message:</label>
                    <textarea class="form-control" id="greetings" name="greetings" ng-model="greetings" rows="3" at-greetings-validator required="required" placeholder="Greeting words of wisdom..."></textarea>

                    <div class="new-card__messages" ng-show="newcard.$submitted || newcard.greetings.$touched">
                        <div class="alert alert-danger" ng-show="newcard.greetings.$error.greetingsValidator || newcard.greetings.$error.required">
                            <div ng-show="newcard.greetings.$error.required">Greeting message is required</div>
                            <div ng-show="newcard.greetings.$error.greetingsValidator">Your greeting is too short and ugly( </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="greetDate" class="required">Send on date:</label>
                    <input type="text" class="form-control" id="greetDate" required="required" name="greetDate" ng-model="greetdate" date-format="DD-MM-YYYY" placeholder="What date do you want to greet? DD-MM-YYYY" at-date-validator>

                    <div class="new-card__messages" ng-show="newcard.$submitted || newcard.greetDate.$touched">
                        <div class="alert alert-danger" ng-show="newcard.greetDate.$error.dateValidator || newcard.greetDate.$error.dateInFuture">
                            <div ng-show="newcard.greetDate.$error.required">Date is required</div>
                            <div ng-show="newcard.greetDate.$error.dateValidator">Check you date, please( Format is DD-MM-YYYY</div>
                            <div ng-show="newcard.greetDate.$error.dateInFuture">Sorry, you can't greet in the past( </div>
                        </div>

                    </div>
                </div>

                <button type="submit" class="btn btn-success btn-block btn-lg pull-right" ng-disabled="newcard.$invalid">Create card</button>

                <div class="congrats" ng-show="newcard.$submitted && newcard.$valid">
                    <h3>Yippee!<br>Your great greeting card is ready to send!</h3>
                    <a class="btn btn-primary">Send it on {{greetdate}}!</a>
                </div>


            </form>

        </div>
        <div class="col-sm-6">
            <div class="preview layered-paper">
                <div class="preview__contents">
                    <div class="preview__name">{{name}}</div>
                    <div class="preview__age text3d">{{age}}</div>
                    <div class="preview__greetings">{{greetings}}</div>
                </div>
            </div>
            <div class="senddate" ng-show="newcard.greetDate.$valid"> This card will be sent on <span class="label label-success senddate__label">{{greetdate}}</span></div>

        </div>
    </div>
</div>