/* AUTH Styles
// ==================================================================================================================*/
.loginBox {
    max-width:  90%;
    width: 500px
}

.auth {
    height: 100%;
    background: #343434 url('../images/darkbg.png');
}

.btn-back {
    color: #fff;
}