/* General Styles
// ==================================================================================================================*/
html, body {
    width: 100%;
    height: 100%;

    font-family: $primary-font;
}

.at-layout {
    height: 100%;
}

/* Loader
// ==================================================================================================================*/
#loading-bar .bar {
    height: 10px;
    background: #FFBE00;
}
#loading-bar .peg {
    display: none;
}
#loading-bar-spinner {
    position: fixed;
    top: auto;
    bottom: 20px;
    left: 20px;
}
#loading-bar-spinner .spinner-icon {
    width: 30px;
    height: 30px;
    border:  solid 5px transparent;
    border-top-color:  #FFBE00;
    border-left-color: #FFBE00;
}