<div layout="column" class="loginBox md-whiteframe-z1">
    <md-toolbar>
        <h2 class="md-toolbar-tools"><span translate="AUTH.SIGNIN_TITLE"></span></h2>
    </md-toolbar>
    <md-content layout="column" class="md-padding">

        <form name="loginForm" class="loginForm" method="post" ng-submit="vm.submitLoginForm()" novalidate>

            <md-input-container>
                <label translate="AUTH.LABELS.EMAIL"></label>
                <input type="text" name="email" required="required" ng-model="vm.user.email" at-email-validator/>

                <div ng-messages="loginForm['email'].$error">
                    <div ng-message="required" translate="AUTH.ERRORS.EMAIL_REQUIRED"></div>
                    <div ng-message="emailValidator" translate="AUTH.ERRORS.EMAIL_INVALID"></div>
                </div>
            </md-input-container>

            <md-input-container>
                <label translate="AUTH.LABELS.PASSWORD">Password</label>
                <input type="password" required="required" name="password" ng-model="vm.user.password"/>

                <div ng-messages="loginForm['password'].$error">
                    <div ng-message="required" translate="AUTH.ERRORS.PASS_REQUIRED"></div>
                </div>
            </md-input-container>

            <div layout="row" layout-align="center center" class="actions-row">
                <md-button type="submit" class="md-raised md-primary" ng-disabled="loginForm.$invalid" translate="">{{'AUTH.SIGNIN'|translate}}</md-button>
                <div flex="flex"></div>
                <md-button ui-sref="forgot" md-no-ink="md-no-ink">{{'AUTH.FORGOT'|translate}}</md-button>
            </div>

        </form>

    </md-content>

</div>