/* FORMS
// ==================================================================================================================*/
.loginForm {
	md-input-container {
		display: block;
	}

	.actions-row {
		padding-top: 20px;
	}
}

.forgotForm {
	md-input-container {
		display: block;
	}
}

.feedback {
	min-height: 400px;
}