/* PROFILE
// ==================================================================================================================*/
.profile-info {
	background-color: #fff;
	margin-top: 2em;

	&__list {
		margin: 0;
		padding: 0;
		list-style: none;

	}

	&__item {
		border-bottom: 1px solid #eee;

		&:last-child {
			border-bottom: 0;
		}
	}

	&__label {
		color: #999;
	}

	&__content {
		padding: 2em;
		position: relative;
		height: 590px;

		.progress-circular {
			position: absolute;
			top: 50%;
			left: 50%;

			svg {
				position: relative;
				top: -50px;
				left: -50px;
			}
		}
	}
}

.login-readonly {
	background: #eee;
	padding: 1em 1em;

	&__label {
		margin: 0;
		margin: .5em 0;
	}

	&__login {
		margin: .5em 0;
	}
}

/* Profile Toolbar
// ==================================================================================================================*/
