/* Fonts
// ==================================================================================================================*/
$primary-font: "Roboto", "Arial Narrow", Arial, "Helvetica Neue", Helvetica, sans-serif;
$secondary-font: Arial, "Helvetica Neue", Helvetica, sans-serif;

/* Colors
// ==================================================================================================================*/
$primary-color: #607D8B;

// Loader
$loader-light-color: #FFC107;
$loader-dark-color: #000;